src/main/java/com/example/demo/config/secret/
.DS_Store
src/main/resources/application.yml

*.iml
*.ipr
*.iws
*.jar
*.sw?
.gradle
.idea
.settings
.projects
bin
build
!/**/src/**/bin
!/**/src/**/build
build.log
lib/
out
logs